* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: inherit;
}

html {
	height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background: #F0F0F0;
  font-family: "Avenir Next Cyr", sans-serif;
}

p {
  margin: 24px 0px 48px 0px;	
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  color: #2E2E2E;
}

input, textarea, select, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: inherit;
}

form {
	margin: auto;
	width: 742px;
	display: flex;
	flex-direction: column;
}

button {
	margin: 48px 0px 72px 0px;
	align-self: center;
  	min-width: 211px;
	height: 56px;
	background: #CF8DF7;
	border-radius: 8px;
  	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #FFFFFF;
}

.input-text {
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	max-width: 742px;
	height: 48px;
	padding: 10px 16px;
	margin-bottom: 24px;
	background-color: #FFFFFF;
	color: #152935;
}

.input-text::placeholder {
	color: #cdd1d4;
}

.input-text:hover {
	box-shadow: 0px 4px 10px rgba(144, 144, 144, 0.16);
}

.input-text:focus {
	box-shadow: 0px 2px 0px 0px #CF8DF7;
}

.input-text[data-invalid], .input-text[data-invalid]:focus {
	box-shadow: 0px 2px 0px 0px #FF4E86;
}

.input-text-label {
	display: none;
}

.input-text-comment {
	min-height: 96px;
}

.input-text-comment::placeholder {
	vertical-align: text-top;
}

.error-text-requirement {
	display: none;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  min-height: 48px;
  padding: 24px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 1;
}

.logo {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.navigation-item {
  text-orientation: reverse;
  text-decoration: none; 	
  padding: 4px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #f5f6f7;
  padding: 130px 240px 40px;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 24px 16px;
}

.input-file {
  display: none;
}

.input-file-wrapper {
  max-width: 742px;
  min-height: 72px;
  margin-bottom: 24px;
  padding: 16px;
  border: 2px dashed #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-file-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-file-description {
  font-size: 16px;
  line-height: 16px;
  color: #585858;
}

.input-file-size-limit {
  font-size: 12px;
  line-height: 16px;
  color: #AAAAAA;
}

.input-file-button-wrapper {
  max-width: 178px;
  min-height: 40px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 8px;
  background: #FFFFFF;
  font-size: 16px;
  color: #585858;
  display: flex;
  align-items: center;
  justify-content: center;
}