* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: inherit;
}

html {
	height: 100%;
}

body {
	display: flex;
  flex-direction: column;
  min-height: 100%;
	background: #F0F0F0;
}

p {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #666666;
}

h1 {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	color: #2E2E2E;
}

input, textarea, select, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: inherit;
}

.input-text {
	font-family: "Avenir Next Cyr", sans-serif;
	font-size: 14px;
	font-weight: normal;
	width: 100%;
	max-width: 742px;
	height: 40px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #FFFFFF;
	color: #152935;
}

.input-text::placeholder {
	color: #cdd1d4;
}

.input-text:hover {
	box-shadow: 0px 4px 0px 0px rgba(144, 144, 144, 0.16);
}

.input-text:focus {
	box-shadow: 0px 2px 0px 0px #CF8DF7;
}

.input-text[data-invalid], .input-text[data-invalid]:focus {
	box-shadow: 0px 2px 0px 0px #FF4E86;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  min-height: 48px;
  padding: 24px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
}

.logo {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.navigation-item {
  padding: 4px;
}

.main {
  flex: 1 0 auto;
  background-color: #f5f6f7;
  padding: 130px 240px 40px 160px;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 24px 16px;
}